#nprogress {
    pointer-events: none;
}

#nprogress .bar{
    background: yellow;
    position: fixed;
    z-index: 1042;
    top: 0;
    left: 0;
}

#nprogress .peg{
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px yellow, 0 0 5px yellow;
}